:root {
  --main-color: #587e72
}

body {
    font-size: 1.2rem;
    line-height: 1.5rem;
    max-width: 60em;
    margin: auto;
}

blockquote {
    font-style: italic;
    border-left: 2px solid;
    padding-left: 15px;
}

table {
    margin-top: 10px;
}
table, td, th {
  border: 1px solid;
}

h2 {
    color: var(--main-color);
    border-bottom: 1px solid #ddd;
    margin-top: 1.5em;
    padding-bottom: 8px;
}

h3 {
    color: var(--main-color);
    margin-left: 0.6em;
}

a:hover {
    color: var(--main-color);
}

footer {
    font-size: 0.9rem;
}

/* override org-default.css */
#org-div-home-and-up {
    font-size: inherit;
}
a {
    color: black;
}
