<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender>
    <layout class="org.apache.log4j.PatternLayout">
	<param name="ConversionPattern" value="%c %d{ISO8601} -- %p -- %m%n"/>
    </layout>
  </appender>

  <appender name="DEBUG" class="org.apache.log4j.RollingFileAppender">
     <param name="File" value="logs\\app-debug.log"/>
     <param name="Append" value="true"/>
     <param name="MaxFileSize" value="300KB"/>
     <param name="MaxBackupIndex" value="8"/>
     <param name="threshold" value="DEBUG" />
     <layout class="org.apache.log4j.PatternLayout">
	<param name="ConversionPattern" value="%c %d{ISO8601} -- %p -- %m%n"/>
     </layout>
  </appender>

  <appender name="INFO" class="org.apache.log4j.RollingFileAppender">
     <param name="File" value="logs\\app-info.log"/>
     <param name="Append" value="true"/>
     <param name="MaxFileSize" value="500KB"/>
     <param name="MaxBackupIndex" value="2"/>
     <layout class="org.apache.log4j.PatternLayout ">
	<param name="ConversionPattern" value="%c %d{ISO8601} -- %p -- %m%n"/>
     </layout>
     <filter class="org.apache.log4j.varia.LevelRangeFilter">
	<param name="LevelMin" value="INFO" />
     </filter>
  </appender>

  <appender name="WARN" class="org.apache.log4j.RollingFileAppender">
     <param name="File" value="logs\\app-warn.log"/>
     <param name="Append" value="true"/>
     <param name="MaxFileSize" value="500KB"/>
     <param name="MaxBackupIndex" value="2"/>
     <layout class="org.apache.log4j.PatternLayout">
	<param name="ConversionPattern" value="%c %d{ISO8601} -- %p -- %m%n"/>
     </layout>
     <filter class="org.apache.log4j.varia.LevelRangeFilter">
	<param name="LevelMin" value="WARN" />
     </filter>
  </appender>

  <appender name="ERROR" class="org.apache.log4j.RollingFileAppender">
     <param name="File" value="logs\\app-error.log"/>
     <param name="Append" value="true"/>
     <param name="MaxFileSize" value="500KB"/>
     <param name="MaxBackupIndex" value="2"/>
     <layout class="org.apache.log4j.PatternLayout">
	<param name="ConversionPattern" value="%c %d{ISO8601} -- %p -- %m%n"/>
     </layout>
     <filter class="org.apache.log4j.varia.LevelRangeFilter">
	<param name="LevelMin" value="ERROR" />
     </filter>
  </appender>
  
  <logger name="kodo"> <level value="debug"/> </logger>
  <logger name="org.apache.openjpa"> <level value="debug"/> </logger>
  
  <root>
    <priority value="debug"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="DEBUG"/>
    <appender-ref ref="INFO"/>
    <appender-ref ref="WARN"/>
    <appender-ref ref="ERROR"/>
  </root>

</log4j:configuration>
