<div>
    <h2>帮助</h2>
    <ul>
        <li>价格单位: 万人民币</li>
        <li>普通住宅: 价格&lt;160 (外坏外?)</li>
        <li>非普通住宅: 价格&gt;160 (外坏外?)</li>
        <li>营业税: 满五年普通住宅 0</li>
        <li>营业税: 满五年非普通住宅, 差额(卖出价-买进价) 5.65</li>
        <li>营业税  不满五年普通住宅, 5.65 </li>
        <li>营业税  不满五年非普通住宅, 5.65 </li>
        <li>个税:  满5年唯一 0 </li>
        <li>个税:  满5年不唯一 1 </li>
        <li>个税: 不满5年 非普通住宅 2</li>
        <li>个税: 不满5年 普通住宅 1 </li>
        <li>契税: 首套房 1</li>
        <li>契税: 非首套房 3</li>
    </ul>
</div>