@echo off
REM ==================================================
REM COPY TO PROJECT DIRECTORY AND UPDATE FOR PROJECT SPECIFICLY
REM ==================================================


REM cmd /k .\setEnv.bat

set ANT_OPTS=-Xms512m -Xmx512m -XX:PermSize=512m -XX:MaxPermSize=512m
REM set JAVA_HOME="C:\Java\jdk1.5.0_11"
set ANT_HOME=C:/bea-fusion-11g/jdeveloper/ant
set JAVA_HOME=C:/bea-fusion-11g/jdk160_11
set VIM_HOME="C:\Program Files\Vim\vim72"
set SVN_HOME="C:\svn-win32-1.5.1"
set PYTHON_HOME=c:\Python25
set MINGW_HOME=C:\Workspace\MinGW
set MSYS_HOME=C:\Workspace\MSYS\1.0
set MAVEN_HOME=C:\Workspace\apache-maven-2.2.0
set WORKSPACE="C:\repos\Workspace"


set PATH=%PYTHON_HOME%;%JAVA_HOME%\bin;%SVN_HOME%\bin;%VIM_HOME%;%ANT_HOME%\bin;%PYTHON_HOME%\Scripts;%MINGW_HOME%\bin;%MSYS_HOME%\bin;%MAVEN_HOME%\bin;%PATH%

rem cd C:\Workspace
rem cmd

REM console.bat
rem cmd /K setenv.bat
